beautifulsoup4==4.4.1
cycler==0.9.0
Cython==0.23.4
DateTime==4.2
#dateutils==0.6.6
decorator==4.0.6
docutils==0.12
functools32==3.2.3.post2
futures==3.0.5
h5py==2.6.0
hbp-neuromorphic-platform==0.4.3
imageio==1.5
ipython==5.4.1
matplotlib==1.5.1
networkx==1.11
nose==1.3.7
numpy==1.11.0
pandas==0.17.1
Pillow==3.1.2
psutil==3.4.2
ptyprocess==0.5
pyinotify==0.9.6
pylint==1.5.2
pylsl==1.10.4
PyMySQL==0.7.2
PyNN==0.7.5
pyNN-spiNNaker==3.0.0
pyserial==3.0.1
pytest==3.0.5
python-dateutil==2.4.2
PyYAML==3.11
requests==2.13.0
scikit-image==0.13.0
scipy==0.17.0
six==1.10.0
spalloc==0.2.6
SpiNNaker-DataSpecification==3.0.0
SpiNNaker-PACMAN==3.0.1
spinnaker-spinner==2.5.0
SpiNNFrontEndCommon==3.0.1
SpiNNMachine==3.0.0
SpiNNMan==3.0.0
SpiNNStorageHandlers==3.0.0
SpiNNUtilities==1!4.0.0a1
spyder==2.3.8
sPyNNaker==3.0.0
sPyNNakerExternalDevicesPlugin==3.0.0
sPyNNakerExtraModelsPlugin==3.0.0
statsmodels==0.6.1
subprocess32==3.2.7
tqdm==4.8.4
tzlocal==1.4
vcstools==0.1.39
virtualenv==15.0.1